{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

<!-- nav-bar: add 'active' class to the nav-link -->
{% block nav_about %}active{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- banner-header -->
  <div class="row justify-content-center">
    <div class="card col-md-8 mt-1 mb-3 shadow">
      <div class="card-body" >
        <div class="row">
          <div>
            <h1 class="text-center"></h1>
            <h3 class="text-center"></h3>
            <h3 class="text-center"></h3>
          </div>
          <hr>
          <div>
            <p>
               
            </p>
            <p></p>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}