{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

<!-- nav-bar: add 'active' class to the nav-link -->
{% block nav_about %}active{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- banner-header -->
  <div class="row justify-content-center">
    <div class="card col-md-8 mt-1 mb-3 shadow">
      <div class="card-body" >
        <div class="row">
          <div>
            <h1 class="text-center">Welcome to our very own BookCircle!</h1>
            <h3 class="text-center">We are a group of people that meet and read together!</h3>
            <h3 class="text-center">Join our little community!</h3>
          </div>
          <hr>
          <div>
            <p>
               If you love to read then you are welcome to the club.
               We are a group of book lovers that like to read and make new friends.
               We usually have our meet and greets in a quite moderate places,
               were everybody can feel welcomed and relaxed in the enviroment.
               Afterwards those who wants to go to a more social setting
               usually take a couple of drinks or have something to eat.
               Everybody is welcome to join our group!
            </p>
            <p>Couple of rules to know about:</p>
            <ul>
              <li>We always meet up the second saturday every month at a place
                  we have collectively have choosen or through a online link (Teams).
              </li>
              <li>Everybody is welcome! The age limit is 18+.</li>
              <li>If there is a book that any member wants to recomend send an
                  email to the admin or suggest it under the meet and greet.
              </li>
              <li>There will be a collective vote about which book that will be
                  next. Either through email or at the end of the meeting.
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}